<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <h1>Music App</h1>
  </header>
  <h2>Logged in as:<%= current_user.email%></h2>
  <form action="" method=></form>

  <% if logged_in? %>

    <%= yield %>
  </body>
</html>
